

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('<%= asset_path 'about-bg.jpg' %>')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>About Me</h1>
                        <hr class="small">
                        <span class="subheading">This is what I do.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>My full name is Benjamin Seabrook Barnett.  I use my middle name "Seabrook" on the web for Google rankings and because I think it reads well.</p>
<p>I have studied independently and formally in the field of Computer Science for several years.  My (soon to be) most recent accomplishment will be graduating from The Iron Yard: Ruby on Rails intensive bootcamp.</p>
                <p>I currently volunteer for two charities in California as an on-call Web-Developer.  I love my volunteering duties and hope to continue on helping similar causes.  If you would like to know more about me or just have a question in general, drop me a line!  My info can be found on the contact page.</p>
        </div>
    </div>
</div>
